
         <table class="table table-bordered table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Jersey Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Team</th>
                    <th scope="col">Position</th>
                    <th scope="col" style="width:1px;white-space:nowrap;">Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="showNewRow">
              <tr app-new-player-row [newPlayer]="newPlayer" [cancelNewPlayer]="cancelNewPlayer"></tr>
            </tbody>
            <tbody *ngFor="let player of players | paginate: { itemsPerPage: pageSize, currentPage: page}">
              <tr app-player-row [player]="player" [deletePlayer]="deletePlayer"></tr>
            </tbody>
        </table>
