
          <table class="table table-bordered table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Jersey Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Team</th>
                    <th scope="col">Position</th>
                    <th scope="col" style="width:1px;white-space:nowrap;">Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let player of players">
                <tr app-player-row [player]="player"></tr>
            </tbody>
        </table>
